<div class="container">
  <h1>{{monthName}}</h1>

  <div *ngIf="calendarData.length > 0" 
        class="row-wrap"
        style="width: 700px">
    <p *ngFor="let item of daysOfWeek" style="width: 100px; text-align: center;">
      {{item}}
    </p>
    
    <div *ngFor="let item of daysOfMonthBeFore" class="box">
      <p class="date">{{item}}</p>
    </div>

    <div *ngFor="let item of calendarData">
        <app-date-box [item]="item"
                      [randomColor]="randomColor" 
                      (click)="selectedDate(item.day)"
                      (showData)="displayEvent($event)"></app-date-box>
    </div>

    <div *ngFor="let item of daysOfMonthNext" class="box">
      <p class="date">{{item}}</p>
    </div>

    <div #form *ngIf="selectedDateIndex >= 0 && selectedDateIndex !== null" class="form">
        <!-- <h2 *ngIf="!selectedDateIndex && selectedDateIndex !== 0">Please Select a Date</h2> -->
        <h4>Add Event</h4>
        <h2 *ngIf="selectedDateIndex >= 0">{{monthName}} : {{selectedDateIndex + 1}}</h2>
        <p>Name: </p>
        <input #name type="text" style="margin-bottom: 20px">
        <p>Time: </p>
        <input #time type="text" style="margin-bottom: 20px">
        <p>Email: </p>
        <input #email type="email" style="margin-bottom: 20px">
        <button type="submit" style="margin-right: 20px;" (click)="addData(name,time,email)">Save</button>
        <button type="submit" (click)="closeAddEvent()">Close</button>
        <!-- <button type="submit" (click)="clearLocalStorage()">Clearlocal</button> -->
    </div>
  </div>

  <div #event *ngIf="selectedEvent && selectedDateIndex !== null" class="data-display">
    <h4>Edit Event</h4>
    <h2>{{monthName}} {{selectedDateIndex + 1}}</h2>
    <p>Name: </p>
    <input #nameEdit type="text" style="margin-bottom: 20px" value={{selectedEvent.name}}>
    <p>Time: </p>
    <input #timeEdit type="text" style="margin-bottom: 20px" value={{selectedEvent.time}}>
    <p>Email: </p>
    <input #emailEdit type="text" style="margin-bottom: 20px" value={{selectedEvent.email}}> 
    <button type="submit" style="margin-right: 10px;" (click)="editEvent(nameEdit,timeEdit,emailEdit)">Edit</button>
    <button type="submit" style="margin-right: 10px;" (click)="delete()">Delete</button>
    <button type="submit" (click)="closeEvent()">Close</button>
  </div>

</div>

